In [1]:
from cleaning import Cleaning
import pandas as pd
import numpy as np

# importation des donnees

In [2]:
data_frame=pd.read_csv('../dataset/archive/spam_ham_dataset.csv')
data_frame.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [3]:
data_frame=data_frame.drop(columns=['Unnamed: 0','label_num'])
data_frame.head()

  label                                               text
0   ham  Subject: enron methanol ; meter # : 988291\r\n...
1   ham  Subject: hpl nom for january 9 , 2001\r\n( see...
2   ham  Subject: neon retreat\r\nho ho ho , we ' re ar...
3  spam  Subject: photoshop , windows , office . cheap ...
4   ham  Subject: re : indian springs\r\nthis deal is t...

In [4]:
data=data_frame.values
data.shape

(5171, 2)

### Dovision de donnees en 2 partie: labele et les emails

In [5]:
labels=data[:,:1]
data=data[:,1:]

# Pre-traitement

In [6]:
cl=Cleaning(data)

[nltk_data] Downloading package punkt to
[nltk_data]     /home/elkharroubi/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /home/elkharroubi/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [7]:
data[0][0]

"Subject: enron methanol ; meter # : 988291\r\nthis is a follow up to the note i gave you on monday , 4 / 3 / 00 { preliminary\r\nflow data provided by daren } .\r\nplease override pop ' s daily volume { presently zero } to reflect daily\r\nactivity you can obtain from gas control .\r\nthis change is needed asap for economics purposes ."

In [8]:
data=cl.processing()

# Post processing

In [11]:
from sklearn import preprocessing

#### Label encoding

In [23]:
le = preprocessing.LabelEncoder()
from sklearn.feature_extraction.text import TfidfVectorizer

In [16]:
labels.reshape(-1)

array(['ham', 'ham', 'ham', ..., 'ham', 'ham', 'spam'], dtype=object)

In [22]:
labels=le.transform(labels)

## TF-IDF

In [31]:
vectorizer = TfidfVectorizer()
# reshape sert a convertir la taille de de notre donnees de 2D a une seule dimension
X = vectorizer.fit_transform(data.reshape(-1))
vectorizer.get_feature_names_out()

array(['aa', 'aaa', 'aabda', ..., 'zzocb', 'zzso', 'zzsyt'], dtype=object)